// Specific CSS for your home-page
// .background {
//   background-color: #EAFFFD;
//   height: 100vh;
//   background-size: cover;

//   .content {
//     text-align: center;
//     padding: 12% 0;
//   }

//   .text {
//     height: 250px;
//     letter-spacing: 2px;

//   }

//   h1 {
//     color: #02234a;
//     font-size: 4rem;
//   }

//   #banner-typed-text {
//     color: #f07c41;
//     font-size: 4.5rem;
//     font-weight: 600;
//   }
// }


#home-top-left{
  position: absolute;
  top: -200px;
  left: -300px;
}

#home-top-right{
  position: absolute;
  top: 100px;
  right: -560px;
}

#home-bottom {
  position: absolute;
  top: 600px;
  right: 383px;

}

.headers {
  min-height: 350px;
}
.content {
  display: inline-block;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;


  .workgroup {
    position: absolute;
    bottom: 0;
    right: -77px;
  }
}

.text {

  vertical-align: center;

  h1 {
    font-size: 75px;
  }

  #banner-typed-text {
    color: #FCCD08;
    font-size: 85px;
  }

  p {
    font-size: 24px;
    width: 450px;
    margin-bottom: 43px;
  }

  .learn-more {
    font-size: 22px;
    padding: 10px;
    display: inline-block;
  }
}

.one-page {
  height: calc(100vh - 85px);
  overflow: hidden;
}

.one-page-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: none;
  z-index: 0;}

