#my-embedded-typeform {
  border: 2px solid gray;
  border-radius: 2px;
}

.form-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    padding-top: 10px;
  }
}

.complete-form {
  width: 60%;
}

.question-card {
  background-color: transparent;
}

.q-type-indicator {
  p {
    margin-bottom: 0px;
    padding: 0 15px;
    width: 150px;
    color: white;
    opacity: 0.6;
    border-radius: 3px;
  }
}

.question-type-text {
  background-color: #a649c9;

}

.question-type-email {
  background-color: #BAB102;
}

.question-type-opinion-scale {
  background-color: #00CCBC;
}

.finish-editing {
  background-color: #FCCD08;
  border: 2px solid #FCCD08;

  &:hover{
  border: 2px solid #FCCD08;
  background-color: transparent;
  }
}

.fa-edit {
  color: #403d56;

  &:hover{
    color: #FCCD08;
  }
}

.fa-trash-alt {
  color: #403d56;
  &:hover{
    color: #FCCD08;
  }
}

.label-form {
  text-align: center;
  font-size: 16px;
}

// Sweet Alert
.sw-link {
  font-size: 22px;
  color: black;

  &:hover {
    text-decoration: none;
    opacity: 0.7;
    color: black;
  }
}

#sw-intro {
  font-size: 18px;
  opacity: 0.7;
}

.sw-text {
  color: black;
  opacity: 0.8;
  font-size: 18px;
}

.swal-title {
  color: black;
}

.swal-text {
  width: 75%;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}

.final-btn {
  color: white;
  background-color: #FCCD08;
}

