//Radio Buttons on Form

.form-check-input {
  display: none;
}
.survey_question_q_type {
  .form-check {
  background-color: #eceaea;
  border-radius: 20px;
  height: 13vh;
  width: 13vh;
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  opacity: 0.6;

  &:hover {
    cursor: pointer;
  }
  // object-fit: cover;
  }

  img {
    height: 100px;
  }

  label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.selected-option {
  opacity: 1 !important;
  border: 1px solid #3F3D56;
}
