<h2>Survey Participants</h2>
<ul>
<% Survey.find(params[:survey_id]).participants.reverse.each_with_index do |participant, i| %>
	<%# if participant.survey_id == params[:survey_id].to_i %>
	<% unless participant.email.nil? %>
		<!-- <li>Participant <%= i + 1 %>:  -->
			<%= participant.email %> <%= link_to "See Answers", participant_path(participant) %>
		<!-- </li> -->
		<br>
	<%# end %>
	<% end %>
<% end %>
</ul>