<h2>Survey Participants</h2>

<ul>
<% Participant.all.reverse.each_with_index do |participant, i| %>
	<li>Participant <%= i + 1 %>: <%= participant.email %> <%= link_to "See Answers", participant_path(participant) %></li>
	<br>
<% end %>
</ul>