<h1><%= @participant.email %></h1>

<ul>
<% @participant.survey.survey_questions.each_with_index do |question| %>
	<h4>Question: <%= question.question %></h4>
	<li><%= QuestionAnswer.find_by(participant_id: @participant, survey_question_id: question.id).response %></li>
	<br>
<% end %>
</ul>

<!-- Graphs Examples-->

<%#= line_chart({20.day.ago => 5, 10.day.ago => 10, }) %>
<%#= pie_chart [["football",10], ["basketball", 5]] %>
