<div class="container one-page">

  <div class="row my-5 ">
    <div class="col-md-12 col-lg-6">
      <div class="text mt-3 justify-content-center align-items-middle text-center">

          <h1>Data Collection</h1>
          <h1 class="text-justify">Made <span class="yellow">Easy</span> <span id="banner-typed-text"></span></h1>

          <div class="px-5 my-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          </div>

        <%= link_to "Learn More", projects_path, class: "sec-button learn-more mt-3"  %>
      </div>
    </div>
      <!-- <div class="col-md-12 col-lg-6 my-5 align-middle" style="background-image: url('<%= asset_path 'index_banner_workgroup.png' %>')", id= "home_img"> -->
    </div>
  </div>
</div>
<%= image_tag "index_banner_workgroup.png" , class: "workgroup" %>

