<div class="index">

  <div class="background">

    <div class="content">
      <div class="text">
        <h1>Data Collection Made Easy </h1>
        <p><span id="banner-typed-text"></span></p>
      </div>

      <%= link_to "Let's get started!", projects_path, class: "big-button"  %>
    </div>




  </div>
  </div>




</div>

