<li>
	<%= link_to "#{project.name}", project_path(project) %>
	<%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, project_path(project), method: :delete, data: {confirm: "Are you sure?"} %>
</li>