<h1><%= current_user.email %></h1>

<p>Add some magick stuff</p>

<ul class="projects">
	<% @projects.each do |project| %>
    <%= render 'projects/add_project', project: project %>
	<% end %>
</ul>


<%= render 'projects/new_project', project: Project.new %>
