<h1><%= @project.name %></h1>

<h5>Create a new Survey</h5>

<%= link_to "Create a New Survey", new_project_survey_path(@project) %>
<%#= render 'surveys/new_survey', project: @project, survey: Survey.new %>

<br>

<h5>Exisiting surveys on this project</h5>
<ol class="surveys">
	<% if @project.surveys.any? %>
		<% @project.surveys.each do |survey| %>
		<li>
	    <%= render 'surveys/add_survey', survey: survey %>
	    <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, survey_path(survey), method: :delete, data: {confirm: "Are you sure?"} %>
	    </li>
		<% end %>
	<% else %>
		<p>No Surveys yet</p>
	<% end %>
</ol>
