<div class="container">
<h1><%= @project.name %></h1>

	<h5>Exisiting surveys on this project</h5>
	<ol class="surveys">
		<% @project.surveys.each do |survey| %>
        <%= render 'surveys/add_survey', survey: survey %>

       <%#= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_survey_question_path(@survey,question.id)%>
       <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, survey_path(survey), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
		<% end %>
	</ol>

	<h5>Create a new Survey</h5>

  <%= render 'surveys/new_survey', project: @project, survey: Survey.new %>

</div>
