<div class="c-survey-title">
  <h2>Title</h2>
<div class="survey-blanks">

<%= simple_form_for([@project, Survey.new]) do |f| %>
    <%= f.input :name, label: "What is the name of your survey?", placeholder: "grumpy cats" %>
  <div class="form-actions">
    <%= f.button :submit, class: "filled-button" %>
  </div>
  </div>
  <div class="back-button-div">
<%= link_to "Back", project_surveys_path, class: "button-back" %>
  <% end %>
</div>
</div>







