// .alert {
//   position: fixed;
//   bottom: 16px;
//   right: 16px;
//   z-index: 1000;
// }
//QUESTION ANSWERS INDEX

.box {
	border: 1px solid #A649C9;
	padding: 5px 15px;
	border-radius: 5px;
}

// Buttons?
.fan {
	font-size: 22px;
	color: #a649c9;
	margin: 0;
	opacity:0.8;
	&:hover{
		opacity:1;
	}
}

.smaller {
	font-size: 10px;
}

// INDEXES
.hoverable {
	//box-sizing: border-box;
	&:hover {
		background: rgba(200, 200, 200, 0.1);
	}
}

// ALL
body {
	//background-image: asset-url('login_bg.png');
	//background-size: cover;
	//height: 100vh;
	background-color: #fbf7ff;
}

//PROJECTS
.project {
	margin-bottom: 0px;
	padding: 0 15px;
	opacity: 0.7;
}

.completed {
	background-color: #a649c9;
}

.ongoing {
	background-color: #fccd08;
}

.new {
	background: #1ae3da;
	opacity: 0.8;
}

//TITLES
.underline {
  border-bottom: 1px solid #FCCD08;
  display: inline-block;
 }

.purple {
	color: #A649C9;
}

 .white {
 	background-color: white;
 	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
 }