// .alert {
//   position: fixed;
//   bottom: 16px;
//   right: 16px;
//   z-index: 1000;
// }


// Buttons?
.fas {
	color: #a649c9;
}

// INDEXES
.hoverable {
	//box-sizing: border-box;
	&:hover {
		background: rgba(1, 1, 1, 0.05);
	}
}

// ALL
body {
	background-image: asset-url('login_bg.png');
	background-size: cover;
	// height: 100vh;
}

//PROJECTS
.project {
	margin-bottom: 0px;
	padding: 0 15px;
	opacity: 0.7;
}

.completed {
	background-color: #a649c9;
}

.ongoing {
	background-color: #fccd08;
}

.new {
	background: #1ae3da;
	opacity: 0.8;
}

//TITLES
.underline {
  border-bottom: 1px solid #FCCD08;
  display: inline-block;
 }

 .white {
 	background-color: white;
 	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
 }