// .big-button {
//     background-color: #02234a;
//     color: white;
//     border-radius: 5px;
//     padding: 10px 25px;
//     font-size: 2.5rem;

//   &:hover {
//     background-color: #EAFFFD;
//     color: #02234a;
//     border: 3px solid #02234a;
//     text-decoration: none;

//   }
// }

// .button {
//     background-color: #02234a;
//     color: white;
//     border-radius: 5px;
//     padding: 5px 15px;
//     font-size: 1rem;

//   &:hover {
//     background-color: #EAFFFD;
//     color: #02234a;
//     border: 2px solid #02234a;
//     text-decoration: none;

//   }
// }

// Custom Buttons Specific To Projecr

.pri-button {
  background-color: #A649C9;
  color: white;
  border-radius: 5px;
  opacity: 0.8;

  &:hover{
    opacity: 1;
    text-decoration:none;
    color: white;
  }
}

.sec-button {
  border: 2px solid #FCCD08;
  background-color: #FCCD08;
  color: black;

   &:hover {
    background-color: white;
    border-bottom: 2px solid #FCCD08;
  }
}

#sign-in-button {
  width: 215px;
  padding: 16px;
  background: #fccd08;
  text-align: center;
  font-size: 8px;
  display: inline;
}


#plus-btn {
  color: #FCCD08;
  font-size:35px;
}
.back-button-div{
  margin: 5vh;
  text-align: center;
  .button-back {
    font-size: 18px;
    padding-right: 4.5vh;
    padding-left: 4.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100px;
    height: 56px;
    border: 2px solid #FCCD08;
    // margin-left: 13vh;
  }
}

.filled-button {
  padding: 1.25rem 2.5rem;
  background: #A649C9;
  color: white;
  border-radius: 2px;
  box-shadow: 0px 1px 2px #A649C9;
  opacity: 0.9;

  // margin: 0 auto;
  // opacity: 0.9;
  // font-size: 1.0rem;
  
  // display: block;
  // background-color: #A649C9;
  // border: 1px solid transparent;
  // color: #ffffff;
  // font-weight: 400;

  &:hover{
    text-decoration: none;
    color: white;
    box-shadow: none;
    opacity: 1;
  }
}

.outline-button {
  padding: 14px;
  border: 2px solid #FCCD08;
  color: black;
  opacity: 0.8;

  &:hover {
    background-color: #FCCD08;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #FCCD08;
  }
}

.back-button-all {
  padding: 14px;
  border: 2px solid #FCCD08;
}

.filled-button-survey {
  padding: 14px;
  background: #FCCD08;
  color: #403d56;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border: 2px solid #FCCD08;

  &:hover{
    text-decoration: none;
    color: #403d56;
    box-shadow: none;
    opacity: 1;
    border: 2px solid #FCCD08;
    background: transparent;
  }
}

