// .big-button {
//     background-color: #02234a;
//     color: white;
//     border-radius: 5px;
//     padding: 10px 25px;
//     font-size: 2.5rem;

//   &:hover {
//     background-color: #EAFFFD;
//     color: #02234a;
//     border: 3px solid #02234a;
//     text-decoration: none;

//   }
// }

// .button {
//     background-color: #02234a;
//     color: white;
//     border-radius: 5px;
//     padding: 5px 15px;
//     font-size: 1rem;

//   &:hover {
//     background-color: #EAFFFD;
//     color: #02234a;
//     border: 2px solid #02234a;
//     text-decoration: none;

//   }
// }

// Custom Buttons Specific To Projecr

.pri-button {

  background-color: #FCCD08;
  color: black;

  &:hover {
    opacity: 0.7;
    text-decoration: none;
    color: black;
  }
}

.sec-button {
  border: 2px solid #FCCD08;
  color: black;

   &:hover {
    background-color: #FCCD08;
    border-bottom: 2px solid #FCCD08;
  }
}


#sign-in-button {
  width: 215px;
  font-size: 20px;
  margin-left: 14vh;
  margin-top: 4vh;
  margin-bottom:4vh;

  padding: 16px;
  background: #fccd08;
  text-align: center;
  font-size: 8px;
  display: inline;
}


#plus-btn {
  color: #FCCD08;
  font-size:35px;
  margin-left: 8px;
}

.button-back {
  font-size: 20px;
  padding-right: 8vh;
  padding-left: 8vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 200px;
  height: 56px;
  border: 3px solid #FCCD08;
  text-align: center;
  margin-left: 14vh;
}

.filled-button {
  padding: 14px;
  background: #fccd08;
  display: inline;
  color: black;

  &:hover{
    opacity: 0.7;
    text-decoration: none;
    color: black;
  }
}

.outline-button {
  padding: 14px;
  border: 2px solid #FCCD08;
  color: black;

  &:hover {
    opacity: 0.7;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #FCCD08;
  }
}
