// .big-button {
//     background-color: #02234a;
//     color: white;
//     border-radius: 5px;
//     padding: 10px 25px;
//     font-size: 2.5rem;

//   &:hover {
//     background-color: #EAFFFD;
//     color: #02234a;
//     border: 3px solid #02234a;
//     text-decoration: none;

//   }
// }

// .button {
//     background-color: #02234a;
//     color: white;
//     border-radius: 5px;
//     padding: 5px 15px;
//     font-size: 1rem;

//   &:hover {
//     background-color: #EAFFFD;
//     color: #02234a;
//     border: 2px solid #02234a;
//     text-decoration: none;

//   }
// }

// Custom Buttons Specific To Projecr

.pri-button {

  background-color: #FCCD08;
  color: black;

  &:hover {
    opacity: 0.7;
    text-decoration: none;
    color: black;
  }
}

.sec-button {
  border: 2px solid #FCCD08;
  color: black;

   &:hover {
    opacity: 0.7;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #FCCD08;
  }

}
