// Sign in card and login card.

.c-login {
  width: 300px;
  margin: auto;
  font-family: Lato;
  margin-top: 15vh;
  h2, .form-actions {
    text-align: center;
  }
}

.c-signin {
  width: 300px;
  margin: auto;
  font-family: Lato;
  margin-top: 15vh;
  h2, .form-actions {
    text-align: center;
  }

}
.form-inputs {
  margin-bottom: 5vh;
}


