// Sign in card and login card.

.c-login {
  width: 300px;
  margin: auto;
  font-family: Lato;
  margin-top: 15vh;
  h2, .form-actions {
    text-align: center;
  }
}

.c-signin {
  width: 300px;
  margin: auto;
  font-family: Lato;
  margin-top: 15vh;
  h2, .form-actions {
    text-align: center;
  }

}
.form-inputs {
  margin-bottom: 5vh;
}

.c-survey-title {
  width: 540px;
  height:580px;
  margin: auto;
  padding:15px;
  font-family: Lato;
  margin-top: 10vh;
  border: 2px solid black;
  h2 {
    margin-top: 5vh;
    font-size: 60px;
    text-align: center
  }
}

.survey-blanks {
  margin-top: 5vh;
}
