.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Custom

.navbar-item {
  width: 157.7px;
  height: 53px;
  text-align: center;
  align-items: center;
  display: flex;
  display: grid;
  margin: 16px;
  color: black;
  border-bottom: 4px solid transparent;

  &:hover {
    text-decoration: none;
    color: black;
    border-bottom: 4px solid #FCCD08;
  }
}

.navbar-home {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 1;
}
