<div class="row"><h1><%= @survey.name %></h1></div>

<%#= @response %>

<% if @response["items"].any? %>

	<div class="row"><h5>Survey Questions</h5></div>

	<% @survey.survey_questions.each_with_index do |squestion, i|%>

		<div class="row"><%= link_to "Question: #{squestion.question}", survey_question_path(squestion, question_number: i) %></div>

			<!-- <p><strong>Average</strong>: <%#= average.fdiv(count).round %></p> -->

		<% end %>
      <!-- Graphs -->
      <%#= pie_chart [[squestion.question, average.fdiv(count).round]] %>
      <%#= pie_chart SurveyQuestion.group(:question).count %>
<% else %>
	<p>No answers yet</p>
<% end %>
</div>

<!-- Graphs -->









