<h1>QUESTION ANSWERS INDEX</h1>

<%= @response %>

<% if @response["items"].any? %>
	<h5>Survey Questions</h5>
	<ol>
	<% @survey.survey_questions.each_with_index do |squestion, i|%>
		<% average = 0 %>
		<% count = 0 %>
		<li><%= link_to "Question: #{squestion.question}", survey_question_path(squestion, question_number: i) %></li><br>
		<ul>
			<% @response["items"].each do |item| %>
        <% unless item["answers"].nil? %>


  				<%  item["answers"].each do |answer| %>

  					<%  if answer["text"] %>

  						<% if Participant.find_by(email: answer["text"]) && Participant.find_by(email: answer["text"]).survey_id == @survey.id %>
  							<% @participant = Participant.find_by(email: answer["text"]) %>
  						<% else %>
          					<% @participant = Participant.create!(email: answer["text"], survey_id: @survey.id) %>
  						<% end %>

  					<% end %>

  				<% end %>

  				<% item["answers"].each do |answer| %>

  					<%  if squestion.typeform_id == answer["field"]["id"] %>

  					<% qanswer = QuestionAnswer.new(survey_question_id: squestion.id) %>

  						<% if answer["text"] %>
  							<!-- <li><%#= answer["text"] %></li> -->
  							<% qanswer.response = answer["text"] %>
  						<% end %>

  						<% if answer["type"] == "number" %>
  							<!-- <li><%#= answer["number"] %></li> -->
  							<% average += answer["number"].to_i %>
  							<% count += 1 %>
  							<% qanswer.response = answer["number"] %>
  						<% end %>

  					<% qanswer.participant = @participant %>

  					<% if QuestionAnswer.exists?(participant_id: @participant, survey_question_id: squestion)%>
  					 <% next %>
  					<% else %>
  					 <% qanswer.save %>
  					<%end %>

  					<% end %>

  				<% end %>

        <% end %>
			<% end %>
		</ul>
		<% if average != 0 %>
			<p><strong>Average</strong>: <%= average.fdiv(count).round %></p>

      <!-- Graphs -->
      <%#= pie_chart [[squestion.question, average.fdiv(count).round]] %>
      <%#= pie_chart SurveyQuestion.group(:question).count %>

		<% end %>
	<% end %>
	</ol>
<% else %>
	<p>No answers yet</p>
<% end %>

<!-- Graphs -->









